# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
src/js/node_modules
src/js/.pnp
src/js.pnp.js

# python
src/python/flask
src/python/migrations
src/python/app.db
src/python/Pipfile.lock

# testing
src/js/coverage

# production
src/js/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

src/jsnpm-debug.log*
src/jsyarn-debug.log*
src/jsyarn-error.log*
